
body {
  font-family: Chivo Mono;
  font-weight: bold;
  font-size: 13px;
}

table{ 
  width: 80%;
  margin: 0 auto
}


th, td {
  border-right: 2px solid black;
  padding: 5px;
  padding-right: 15px;
  border-bottom: 1px solid black;
}

tr:nth-child(even) {
  background-color: rgba(175,175,175, 0.2);
}
 
th:last-of-type, td:last-of-type {
  border-right: none;
}

.title {
  margin-left: 10%;
}

.add-player-btn {
  border-radius: 100%;
  background-color: #34d31a;
}

.delete-player-btn {
  border-radius: 100%;
  background-color: #e51313;
}

.error {
  color: red;
  border: 1px solid black;
}

.crud-controls {
  display: flex;
  justify-content:flex-end;
  margin-right: 10%;
  border: 0px solid black;
}

.crud-controls button {
  font-size: 16px;
  padding: 10px;
}

.crud-controls button:nth-child(1) {
  margin-right: 12px;
}


#app-container {
  margin: 0 auto;
  width: 3000px;
  height: 3000px;
  max-width: 80%;
  max-height: 100%;
  padding: 15px;
  background-color: #c1dff0;
}
